.git
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
remotion_engine/node_modules
remotion_engine/.remotion
remotion_engine/*.mp4
remotion_engine/*.jpg
data/output/*
!data/output/.gitkeep
data/store/*
!data/store/.gitkeep
remotion_engine/src/user/*
!remotion_engine/src/user/.gitkeep
